<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
      {% comment %} <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
      <a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %}" href="{% url 'my_orders' %}"> My Orders </a>
      <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit Profile </a>
      <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}"> Change Password </a> {% endcomment %}
    </ul>
    
    <a class="list-group-item active" href="{% url 'dashboard' %}"> Dashboard </a>			
			<a class="list-group-item" href="{% url 'dashboard' %}"> Orders</a>			
			<a class="list-group-item" href="{% url 'category' %}"> Categories</a>	
      <a class="list-group-item" href="{% url 'product_list' %}"> Products</a>		
			<a class="list-group-item" href="{% url 'dashboard' %}"> Report</a>							
			<a class="list-group-item" href="{% url 'dashboard' %}">Settings </a>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
    <!--   SIDEBAR .//END   -->
  </aside>
  