{% extends 'dash_base.html' %}

{% block content %}
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/seller_dashboard_sidebar.html' %}
            <main class="col-md-9">
                <section class="section-conten padding-y bg">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9">
                                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                    <h1 class="h2">Add Product</h1>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <a href="{% url 'product_list' %}">
                                                <button class="btn btn-primary">View Products</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <article class="card">
                                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pl-3 pb-2 mb-3 border-bottom">
                                        <form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data" style="width:50%;">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="productName">Product Name:</label>
                                                <input type="text" class="form-control" id="productName" name="product_name" placeholder="Enter product name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Description:</label>
                                                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Price:</label>
                                                <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" step="0.01" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="image">Upload Image:</label>
                                                <input type="file" class="form-control-file" id="image" name="image">
                                            </div>
                                            <div class="form-group">
                                                <label for="stock">Stock:</label>
                                                <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter stock quantity" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="isAvailable">Is Available:</label>
                                                <input type="checkbox" class="form-check-input" id="isAvailable" name="is_available" checked>
                                            </div>
                                            <div class="form-group">
                                                <label for="category">Category:</label>
                                                <select class="form-control" id="category" name="category" required>
                                                    {% for category in categories %}
                                                    <option value="{{ category.id }}">{{ category.categoryname }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary" name="saveproduct">Save</button>
                                        </form>
                                    </div>
                                </article>
                            </main>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</section>
{% endblock %}
